has(element)
    &__{element}
        {block}

style(modifier)
    &--{modifier}
        {block}

adapt(element, modifier)
    &{modifier} &{element}
        {block}

adapt2(element, modifier, modifier2)
    &{modifier2} &{modifier} &{element}
        {block}

adapt3(element, modifier, modifier2, modifier3)
    &{modifier3} &{modifier2} &{modifier} &{element}
        {block}

u(name)
    .util-{name}
        {block}
